In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df=pd.read_csv("Test_dataset.csv")
df.head(5)

  Stock Index  10-Aug  11-Aug   12-Aug    13-Aug    14-Aug    15-Aug
0      AC3235    0.80   0.660  0.77240  0.983224  0.901211  0.898368
1      AC3236    0.86   0.732  0.85448  1.086645  1.017042  1.029258
2      AC3237    0.93   0.816  0.95024  1.207302       NaN  1.181962
3      AC3238    1.09   1.008  1.16912  1.483091  1.461062  1.531000
4      AC3239     NaN   1.104  1.27856  1.620986  1.615504  1.705519

In [7]:
df.shape

(3331, 7)

In [8]:
df.isnull().sum()

Stock Index      0
10-Aug         429
11-Aug           2
12-Aug          57
13-Aug          14
14-Aug         105
15-Aug         239
dtype: int64

In [11]:
df=df.dropna()
df.shape

(2715, 7)